<style>
    .physical-examination-table {
        text-align: left;
        width: 98%;
        margin-left: 1% !important;
        margin-right: 1% !important;
        margin-bottom: .5% !important;
    }

    .physical-examination-block-title {
        font-weight: bold;
        font-size: 14px;
        margin-bottom: .5% !important;
    }

    .table-key-column {
        width: 100px;
    }

</style>

<section class="tree-list-item clearfix">
    <h2 class="section-title">{{section.title | titleTranslate}}</h2>

    <ul>
        <li ng-show="isDataPresent()">
            <div class="placeholder-text"><p translate="NO_PHYSICAL_EXAMINATION_FOUND"></p></div>
        </li>
    </ul>
    <section class="block hierarchy" ng-repeat="(key, records) in allEncounter track by key">

        <p class="physical-examination-block-title placeholder-text">{{records.date | bahmniDateTime}}</p>

        <table class="physical-examination-table">
            <tbody>
            <tr ng-repeat="value in records.value">
                <td class="table-key-column">{{value.name}}</td>
                <td>{{value.answer}}</td>
            </tr>
            </tbody>
        </table>
    </section>
</section>